<footer id="footer" class="footer">
  <div class="container">
    <div class="links row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
        <div class="title">
          <span>Produkti</span>
        </div>
        <div class="footer-digital-platform">
          <div class="title-digital-platform">
            <span>Kumuluz Digital</span>
          </div>
          <div class="content-digital-platform">
            <a href="https://www.kumuluz.com/digital-components/ee" target="_blank">
              <div>
                kumuluz<span class="font-weight-bold colorEE">EE</span>
              </div>
            </a>
            <a href="https://api.sunesis.si" target="_blank">
              <div>
                kumuluz<span class="font-weight-bold colorAPI">API</span>
              </div>
            </a>
            <a href="https://www.kumuluz.com/digital-components/integration" target="_blank">
              <div>
                kumuluz<span class="font-weight-bold colorIntegration">Integration</span>
              </div></a>
            <a href="https://www.kumuluz.com/digital-components/ux" target="_blank">
              <div>
                kumuluz<span class="font-weight-bold colorUX">Ux</span>
              </div>
            </a>
            <a href="https://www.kumuluz.com/digital-components/marketplace" target="_blank">
              <div>
                kumuluz<span class="font-weight-bold colorMarketplace">Marketplace</span>
              </div>
            </a>
            <a href="https://www.kumuluz.com/digital-components/crowdsensing" target="_blank">
              <div>
                kumuluz<span class="font-weight-bold colorCrowdsensing">Crowdsensing</span>
              </div>
            </a>
          </div>
        </div>
        <div class="footer-business-apis">
          <div class="title-business-apis">
            <span>Kumuluz Poslovni API-ji</span>
          </div>
          <div class="content-business-apis">
            <div>
              <a href="https://www.kumuluz.com/business-apis/payment/" target="_blank">Payment</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/product-catalog" target="_blank">Product catalog</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/cart" target="_blank">Cart</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/order" target="_blank">Order</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/fulfillment" target="_blank">Fulfillment</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/invoice" target="_blank">Invoice</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/customer" target="_blank">Customer</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/ccm" target="_blank">CCM</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/subscription" target="_blank">Subscription</a>
            </div>
            <div>
              <a href="https://www.kumuluz.com/business-apis/kyc" target="_blank">KYC</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
        <div class="title">Storitve</div>
        <div>Digitalna transformacija</div>
        <div>Oblak, mikrostoritve &amp; API-ji</div>
        <div>Docker in Kubernetes</div>
        <div>Integracija</div>
        <div>Verižni bloki</div>
        <div>Java EE arhitektura &amp; razvoj</div>
        <div>Mobilni UX</div>
        <div>HTML5 odzivni spletni razvoj</div>
        <div>DevOps &amp; Continuous Delivery</div>
        <div>BPM</div>
        <div>
          <a href="/services">Več</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
        <div class="title">Skupnost</div>
        <div>
          <a href="https://blog.sunesis.si" target="_blank" rel="noreferrer noopener">Blog</a>
        </div>
        <div>
          <a href="https://github.com/kumuluz" target="_blank" rel="noreferrer noopener">Odprtokodnost</a>
        </div>
        <div>
          <a href="https://twitter.com/kumuluz" target="_blank" rel="noreferrer noopener">Twitter</a>
        </div>
        <div>
          <a href="https://www.linkedin.com/company/kumuluz" target="_blank" rel="noreferrer noopener">LinkedIn</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
        <div class="title">Podjetje</div>
        <div>
          <a href="/about/sunesis">O nas</a>
        </div>
        <div>
          <a href="/about/awards">Nagrade</a>
        </div>
        <div>
          <a href="https://blog.sunesis.si" target="_blank" rel="noreferrer noopener">Novice</a>
        </div>
        <div>Kariera</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="line"></div>
        <p class="copyright">© Sunesis, Vse pravice pridržane</p>
      </div>
    </div>
  </div>
</footer>
