{% set page = 'Features' %}
{% set language = 'en' %}
{% set body_class = 'functionality' %}
{% set header_class = 'permanent_white' %}
{% extends "partials/_layout.twig" %}

{% block content %}
<section>
	<div class="container">
		<a id="back-to-top"><svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   id="Layer_1"
		   data-name="Layer 1"
		   viewBox="0 0 18 18"
		   version="1.1"
		   sodipodi:docname="dropdown-icon.svg"
		   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)">
		  <metadata
		     id="metadata11">
		    <rdf:RDF>
		      <cc:Work
		         rdf:about="">
		        <dc:format>image/svg+xml</dc:format>
		        <dc:type
		           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <defs
		     id="defs9" />
		  <sodipodi:namedview
		     pagecolor="#ffffff"
		     bordercolor="#666666"
		     borderopacity="1"
		     objecttolerance="10"
		     gridtolerance="10"
		     guidetolerance="10"
		     inkscape:pageopacity="0"
		     inkscape:pageshadow="2"
		     inkscape:window-width="1920"
		     inkscape:window-height="1017"
		     id="namedview7"
		     showgrid="false"
		     inkscape:zoom="13.111111"
		     inkscape:cx="9"
		     inkscape:cy="9"
		     inkscape:window-x="-8"
		     inkscape:window-y="-8"
		     inkscape:window-maximized="1"
		     inkscape:current-layer="Layer_1" />
		  <title
		     id="title2">arrow</title>
		  <path
		     d="m 0.95776,4.505184 v 0 a 0.99989,0.99989 0 0 1 1.41408,0 l 6.62792,6.62842 6.62842,-6.62842 a 0.99989,0.99989 0 0 1 1.41406,0 v 0 a 0.99989,0.99989 0 0 1 0,1.41406 l -7.74538,7.74538 a 0.42016,0.42016 0 0 1 -0.5942,0 l -7.7449,-7.74538 a 0.99989,0.99989 0 0 1 0,-1.41406 z"
		     id="path4"
		     style="fill:#5dc2ef;fill-opacity:1"
		     inkscape:connector-curvature="0" />
		</svg></a>
		<div class="row">
			<div class="col-md-4">
				<h2 class="darkblue">Communication with your customers</h2>
				<p>If you are not able to satisfy your customers’ needs, they will leave. Changing providers has never been easier. According to polls, 9 out of 10 customers are willing to pay more if that means they would be guaranteed a superior user experience, including improved and personalized communication. </p>
				<div class="ss-wrapper">
					<p class="font-weight-bold lightblue"><a href="#section-about">ABOUT THE PLATFORM</a></p>
					<p class="font-weight-bold lightblue"><a href="#section-flow">THE COURSE OF COMMUNICATION</a></p>
					<p class="font-weight-bold lightblue"><a href="#section-func">FEATURES</a></p>
					<div id="ss-nav" class="">
					  <a class="list-group-item" href="#list-item-1">Segmentation</a>
					  <a class="list-group-item" href="#list-item-2">Profiles</a>
					  <a class="list-group-item" href="#list-item-3">Channels</a>
					  <a class="list-group-item" href="#list-item-4">Text editor</a>
						<a class="list-group-item" href="#list-item-5">Messaging schedule</a>
						<a class="list-group-item" href="#list-item-6">Geolocation in messaging</a>
						<a class="list-group-item" href="#list-item-7">Detailed analytics</a>
						<a class="list-group-item" href="#list-item-8">Simple optimization</a>
					</div>
				</div>
			</div>
			<div class="col-md-7 offset-md-1 mt-5 mt-md-0" id="section-about">
				<h2 class="darkblue font-weight-normal" >About the platform</h2>
				<p>Modern ways of customer communication and engagement with customers differ from the old ones. The traditional way of branding and advertising is no longer sufficient for customers today. They expect an active, positive, seamless and personal two-way experience. To make this superior user experience a reality, marketers needs to rely on their data and exploit the power of various communication channels for their personal, relevant communication with customers. </p>
				<p>Customers are in contact with your company over a longer period of time and through various channels (both digital and traditional), e.g. checking out the offers on your webpage, contacting the call center or reaching out to a salesman on location. Regardless of the method or the time that the customers choose for communicating with you, you need to ensure a positive user and communication experience which will enhance your customers’ loyalty to your brand. </p>
				<p>Kumuluz Crowdsensing will help you get there. Kumuluz Crowdsensing is an excellent tool for keeping your customers informed about your products and services, which will increase sales and market share. As Kumuluz Crowdsensing integrates with other systems to obtain customer information and precisely monitor all campaigns, your communication with your customers will be high-level and personal, resulting in an excellent user experience and ensuring the satisfaction of your customers. </p>
				<p>By collecting data and creating customer profiles, Kumuluz Crowdsensing will help you understand their needs and requirements. By messaging and developing communication tailored to individual customers using their profiles, you will connect with your customers in a specific, non-invasive way, while building your digital presence and strengthening the power of your brand.</p>
				<p id="section-flow">Kumuluz Crowdsensing is based on advanced technological concepts like blockchain, anonymisation algorithms, merging, data integration and much more. Thus, you can be sure that your personalized, intelligent communication with your customers will be at a completely new level. Read more on the technological capabilities of the platform.</p>
				<h3 class="darkblue">The course of communication (illustrated)</h3>
				<p class="mb-5">Sending messages is easy.</p>
				<div class="img-wrapper">
					<img src="assets/img/communication-flow-eng.png" alt="" class="img-fluid">
				</div>
				<p>To sum up, Kumuluz Crowdsensing is a tool for communicating and connecting with your clients. It supports target e-mails, SMS and push notifications as well as simple transitions between the communication channels. Kumuluz Crowdsensing helps you create personalized, context-dependent messages which are relevant and interesting for your customers. </p>
				<div class="divider" id="section-func"></div>
				<h2 class="darkblue font-weight-normal">Features</h2>
				<div id="list-item-1">
					<h3 class="darkblue">Segmentation</h3>
					<p>Drawing on statistical analyses and integration with your internal systems, Kumuluz Crowdsensing will create a customer profile which will include your customers’ behavior, preferences, interests, schedule of message consumption, reactions etc. </p>
					<p>Detailed customer profiles enable detailed customer segmentation, and with it, sending the right messages to the right recipients through the right channels. This way, you can create messages which are tailored to individual customers and build a more genuine communication, achieve stronger engagement, customer loyalty and satisfaction for both parties.</p>
					<p>Customer segmentation is based on current, most up-to-date information on customers, their locations, actions and behavior. Messaging your target customers will thus definitely be more relevant and personal.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-2">
					<h3 class="darkblue">Profiles</h3>
					<p>For every customer, Kumuluz Crowdsensing builds a profile which will be updated with their interactions, preferences, intensity of communication, interests, information of location and demographics. Instant review, analysis and categorization of customer data enables precise customers segmentation, in real time.</p>
					<p>The platform will also integrate information on your customers from CRM systems and internal databases and create a detailed user profile based on the gathered information and the precise tracking of interaction history. This gives us a holistic overview of the interactions with each specific customer, and the messages can subsequently be used to reach the customers at the right time, in the right place and with the right suggestions.</p>
					<p>By analyzing customer profiles, Kumuluz Crowdsensing will help you build a long-lasting, genuine relationship with each individual customer, which will replace generic instant messaging. The personal profiles are created and maintained in compliance with the GDPR regulations. To process personal data, the suitable consent must be given. The other data in the platform is anonymized and suitably integrated.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-3">
					<h3 class="darkblue">Channels</h3>
					<p>Kumuluz Crowdsensing supports all modern personal communication channels. You can easily switch between e-mails, SMS, and push notifications and communicate with your customers at the right time, in the right place, through the right device and with just the right message. </p>
					<p>Using a combination of various communication channels, the automation of communication is possible through advanced functions.</p>
					<p>One tool for comprehensive management of direct customer contact.</p>
					<div class="row">
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>E-mail</h3>
									<p>Send e-mails with personalized content and using the desired templates.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>SMS messages</h3>
									<p>Send an SMS message to anyone, anywhere and inform them about relevant matters.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>Push notifications</h3>
									<p>Send push notifications through our system, simplify your work and broaden your business opportunities.</p>
								</div>
							</div>
						</div>
					</div>
					<p>Default (primary) channels may also be set for individual customers. Thus, communication with your customers and potential customers is carried out through their channels of choice.</p>
					<p>You may also easily switch between channels. Send an SMS message, then continue through the e-mail. You can send a campaign to an individual channel. You may send it on all channels at once. Create a campaign for all channels - but each recipient will be receiving the message through his/her desired channel. </p>
					<p>The combinations are innumerable - choose your own, Kumuluz Crowdsensing supports all of them.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-4">
					<h3 class="darkblue">Text editor</h3>
					<p>Kumuluz Crowdsensing features an intuitive user interface for navigating the platform and editing texts. It is built to exclude the need for any IT or technical staff support. Sending messages is easy and surprise-free. Preparing a campaign takes place in all channels at once. </p>
					<p>Kumuluz Crowdsensing contains a simple text editor with instant preview of the message content. There are pre-made graphic templates for you to use, and you may also save your own. You may also import HTML templates prepared by your graphic designer. The editor can edit raw text, supports the import of HTML and CSS files as well as images, audio and video content, with a simple drag-and-drop method. Adding traceable links to help measure campaign impact is also supported.  </p>
					<p>The editor will automatically optimize the content of the message for different display formats and provides instant message preview. Using the integrated editors, you will be able to create modern e-mail, SMS and mobile messages that are made to impress. </p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-5">
					<h3 class="darkblue">Messaging schedule</h3>
					<p>You may send the message immediately or at a specific pre-scheduled time. You may also link the messages to a specific place and send your customers messages when they physically enter, leave or spend a certain time on a specified geographical location, e.g. passing by your store or agency. You may instantly track and analyze the customers’ reaction to your campaign through the dashboard, where all statistical data is updated in real time.</p>
					<p>Kumuluz Crowdsensing keeps track of the delivery, reading and forwarding of every sent message. Based on the analysis of data from the sent campaigns, Kumuluz Crowdsensing will adjust the sending schedule and ensure maximum reach. Kumuluz Crowdsensing includes a dashboard, through which you can track when your customers read and respond to your messages. </p>
					<p>To optimize messaging, Kumuluz Crowdsensing also includes an analysis of the optimal effect of messages based on the time of sending. An intuitive graph displays the parts of day when most customers are likely to read your e-mails, SMS messages or push notifications. Kumuluz Crowdsensing tracks the statistical data for every sent message to every individual user, thereby enabling you to send messages at the optimal time for every individual customer segment.</p>
					<p>Thus, every interaction with the customers is personalized and activated either manually or through the technology of smart triggers, which use data analysis to determine the right time to communicate with customers. </p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-6">
					<h3 class="darkblue">Geolocation in messaging</h3>
					<p>Do you wish to send your customers a message while they are passing by your store, participating in an event, or waiting at the airport? Do you want to invite them into your store and offer them a special discount when they are close? Kumuluz Crowdsensing supports the sending of e-mail, SMS or push messages depending on the recipient’s location.</p>
					<p>Sending the right messages to the right customers at the right time is possible thanks to the most modernized algorithm for tracking customer location. Kumuluz Crowdsensing includes settings for push notifications when the client enters, leaves or spends a certain time at a specific location. Thus, you can notify your customer about a special offer as he/she walks past your display window. You may also guide your customer through your shop using their shopping list, thus significantly improving the user experience. </p>
					<p>The advantages of location-based messaging are numerous. By tracking customer locations, you may also discover the frequency and time of visits to your store and encourage purchases through individual (reward-based) e-mail, SMS or push messages.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-7">
					<h3 class="darkblue">Detailed analytics</h3>
					<p>Kumuluz Crowdsensing tracks the success of the sent campaigns in real time, which enables you to make fast, immediate decisions. This helps Kumuluz Crowdsensing to ensure a successful engagement with the customers, their loyalty, long-term commitment and mutual satisfaction. </p>
					<p>For optimal interactions, Kumuluz Crowdsensing also supports functionalities of A/B testing, message adjustment, simple editing, one-click personalization and intuitive graphs of statistical analyses, all in real time.</p>
					<h5 class="lightblue">What does the Kumuluz Crowdsensing analytics entail?</h5>
					<p>Track the time and quantity of sending, reading and deletion of your messages for every campaign. Keep track of links that your customers found most compelling. Review when and how many times a link was clicked. Choose a tracking period, compare campaign results or analyze the success of a campaign depending on the chosen channel. </p>
					<ul class="square-bullet">
						<li>Statistical reports are enhanced with modern graphs which will give you an idea on the efficacy of a campaign at a glance.</li>
						<li>Kumuluz Crowdsensing uses A/B testing to help you asses the optimal content, form and communication channel for the best customer reaction.</li>
						<li>The dashboard offers a survey of all and each individual response to the sent message. The survey of statistical data can be set to various time frames.</li>
						<li>Kumuluz Crowdsensing makes it possible to track the campaign success in real time and automatically generate reports in PDF format.</li>
					</ul>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-8">
					<h3 class="darkblue">Simple optimization</h3>
					<p>Optimize every interaction and communication in real time. The toolkit for messaging optimization supports automatic sending, reviewing and updating of campaigns, so you can broaden your range and achieve a better reaction from the customers. </p>
					<p>There is also the option of A/B split function for creating control target groups of customers which will receive variations of the message regarding the content, form and channel of communication. This ensures that you send a message that is guaranteed to draw the attention of customers.</p>
					<h5 class="lightblue">What does the A/B testing function do?</h5>
					<p>Feeling unsure about which title will draw the attention of most customers? Trying to decide between two different images as backgrounds for your message? You can determine the proper choice using A/B testing. Prepare variant A and variant B, then Kumuluz Crowdsensing will send the variants to different target groups and analyze on your behalf which one is bound to have a greater effect. </p>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
