{% set page = 'Funkcionalnosti' %}
{% set language = 'sl' %}
{% set body_class = 'functionality' %}
{% set header_class = 'permanent_white' %}
{% extends "partials/_layout.twig" %}

{% block content %}
<section>
	<div class="container">
		<a id="back-to-top"><svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   id="Layer_1"
		   data-name="Layer 1"
		   viewBox="0 0 18 18"
		   version="1.1"
		   sodipodi:docname="dropdown-icon.svg"
		   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)">
		  <metadata
		     id="metadata11">
		    <rdf:RDF>
		      <cc:Work
		         rdf:about="">
		        <dc:format>image/svg+xml</dc:format>
		        <dc:type
		           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <defs
		     id="defs9" />
		  <sodipodi:namedview
		     pagecolor="#ffffff"
		     bordercolor="#666666"
		     borderopacity="1"
		     objecttolerance="10"
		     gridtolerance="10"
		     guidetolerance="10"
		     inkscape:pageopacity="0"
		     inkscape:pageshadow="2"
		     inkscape:window-width="1920"
		     inkscape:window-height="1017"
		     id="namedview7"
		     showgrid="false"
		     inkscape:zoom="13.111111"
		     inkscape:cx="9"
		     inkscape:cy="9"
		     inkscape:window-x="-8"
		     inkscape:window-y="-8"
		     inkscape:window-maximized="1"
		     inkscape:current-layer="Layer_1" />
		  <title
		     id="title2">arrow</title>
		  <path
		     d="m 0.95776,4.505184 v 0 a 0.99989,0.99989 0 0 1 1.41408,0 l 6.62792,6.62842 6.62842,-6.62842 a 0.99989,0.99989 0 0 1 1.41406,0 v 0 a 0.99989,0.99989 0 0 1 0,1.41406 l -7.74538,7.74538 a 0.42016,0.42016 0 0 1 -0.5942,0 l -7.7449,-7.74538 a 0.99989,0.99989 0 0 1 0,-1.41406 z"
		     id="path4"
		     style="fill:#5dc2ef;fill-opacity:1"
		     inkscape:connector-curvature="0" />
		</svg></a>
		<div class="row">
			<div class="col-md-4">
				<h2 class="darkblue">Komunicirajte z vašimi kupci</h2>
				<p>Če ne zmorete zadovoljiti potreb vaših strank, bodo odšli drugam. Menjava ponudnikov je danes enostavna kot še nikoli. Glede na raziskave je 9 od 10 strank pripravljenih plačati več, če jim je zagotovljena boljša uporabniška izkušnja, vključno z izboljšano in personalizirano komunikacijo. </p>
				<div class="ss-wrapper">
					<p class="font-weight-bold lightblue"><a href="#section-about">O PLATFORMI</a></p>
					<p class="font-weight-bold lightblue"><a href="#section-flow">POTEK KOMUNIKACIJE</a></p>
					<p class="font-weight-bold lightblue"><a href="#section-func">FUKCIONALNOSTI</a></p>
					<div id="ss-nav" class="">
					  <a class="list-group-item" href="#list-item-1">Segmentacija</a>
					  <a class="list-group-item" href="#list-item-2">Profili</a>
					  <a class="list-group-item" href="#list-item-3">Kanali</a>
					  <a class="list-group-item" href="#list-item-4">Urejevalnik</a>
						<a class="list-group-item" href="#list-item-5">Čas pošiljanja</a>
						<a class="list-group-item" href="#list-item-6">Geolokacija pošiljanja</a>
						<a class="list-group-item" href="#list-item-7">Podrobna analitika</a>
						<a class="list-group-item" href="#list-item-8">Enostavna optimizacija</a>
					</div>
				</div>
			</div>
			<div class="col-md-7 offset-md-1 mt-5 mt-md-0" id="section-about">
				<h2 class="darkblue font-weight-normal" >O platformi</h2>
				<p>Sodobni načini komunikacije in sodelovanja s strankami so drugačni kot včasih. Strankam danes klasičen način trženja blagovnih znamk in splošno oglaševanje ponudbe ne zadostuje več. Pričakujejo aktivno, pozitivno, nemoteno in osebno dvosmerno izkušnjo. Za uresničitev pozitivne uporabniške izkušnje morajo tržniki uporabiti svoje podatke in izrabiti moč različnih komunikacijskih kanalov za osebno in relevantno komunikacijo s strankami. </p>
				<p>Stranke so v stiku z vašim podjetjem v daljšem časovnem obdobju in prek različnih kanalov (tako digitalnih, kot klasičnih), npr. spremljajo ponudbo na vaši spletni strani, pokličejo v klicni center ali se obrnejo na prodajalca v trgovini. Ne glede na način ali čas, ki ga stranke izberejo za sodelovanje z vami, morate zagotoviti pozitivno uporabniško in komunikacijsko izkušnjo, s katero boste povečali pripadnost strank vaši blagovni znamki. </p>
				<p>In Kumuluz Crowdsensing vam pri tem pomaga. Kumuluz Crowdsensing je odlično orodje za obveščanje vaših strank o produktih in storitvah, s katerim boste povečali prodajo in tržni delež. Ker se Kumuluz Crowdsensing integrira z ostalimi sistemi, iz katerih pridobiva podatke o strankah in analitično spremlja vse kampanje, bo vaša komunikacija z njimi kvalitetna in osebna, s čimer boste poskrbeli za dobro uporabniško izkušnjo in poskrbeli za zadovoljstvo vaših strank.</p>
				<p>Z zbiranjem podatkov in kreiranjem profilov strank vam Kumuluz Crowdsensing pomaga razumeti njihove želje in potrebe. S pošiljanjem sporočil in komunikacijo, ki je na podlagi zgrajenih profilov prilagojena posameznim strankam, se boste z njimi povezali na poseben, nevsiljiv način, hkrati pa gradili na vaši digitalni prepoznavnosti in povečali moč blagovne znamke.</p>
				<p id="section-flow">Kumuluz Crowdsensing temelji na naprednih tehnoloških konceptih, kot so tehnologija veriženja blokov, algoritmi za anonimizacijo, zlivanje in integracija podatkov in še več. Na ta način lahko zagotovite povsem nov nivo personalizirane in »inteligentne« komunikacije z vašimi strankami. Preberite več o tehnoloških zmožnostih platforme.</p>
				<h3 class="darkblue">Potek komunikacije</h3>
				<p class="mb-5">Pošiljanje sporočil je enostavno.</p>
				<div class="img-wrapper">
					<img src="assets/img/communication-flow.png" alt="" class="img-fluid">
				</div>
				<p>Če povzamemo: Kumuluz Crowdsensing je orodje za komunikacijo in povezovanje s strankami. Omogoča ciljno pošiljanje e-pošte, SMS in mobilnih obvestil in enostaven prehod med komunikacijskimi kanali. Kumuluz Crowdsensing vam pomaga ustvariti personalizirana in kontekstno odvisna sporočila, ki so relevantna in interesantna za vaše stranke. </p>
				<div class="divider" id="section-func"></div>
				<h2 class="darkblue font-weight-normal">Funkcionalnosti</h2>
				<div id="list-item-1">
					<h3 class="darkblue">Segmentacija</h3>
					<p>Kumuluz Crowdsensing na podlagi statističnih analiz in integracije z vašimi internimi sistemi izdela profile strank, ki med drugim vključujejo njihovo obnašanje, preference, zanimanja, kdaj in kje berejo sporočila, njihove odzive in podobno. </p>
					<p>Natančni profili strank omogočajo napredno segmentacijo in s tem pošiljanje pravih sporočil pravim naslovnikom z uporabo pravih kanalov. Na ta način lahko kreirate sporočila, prilagojena posameznim strankam in z njimi ustvarite pristno komunikacijo, tesnejše sodelovanje, zvestobo in obojestransko zadovoljstvo.</p>
					<p>Segmentacija strank temelji na trenutnih, najnovejših podatkih o strankah, njihovi lokaciji, njihovih dejanjih in obnašanju. Sporočila ciljnim strankam bodo tako definitivno bolj relevantna in osebna.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-2">
					<h3 class="darkblue">Profili</h3>
					<p>Kumuluz Crowdsensing za vsako stranko izdela profil, ki se sproti posodablja glede na interakcije, preference, intenzivnost komunikacije, zanimanja, lokacijske in demografske podatke. Takojšen pregled, analiza in kategorizacija podatkov o strankah omogoča natančno segmentacijo, in to v realnem času.</p>
					<p>Platforma prav tako integrira podatke o strankah iz CRM sistemov in internih podatkovnih baz ter na podlagi zajetih informacij in podrobnega spremljanja zgodovine interakcij ustvari natančen uporabniški profil. Tako dobimo holistični pregled nad interakcijami z vsako posamezno stranko, s sporočili pa se stranke posledično lahko doseže ob pravem času, na pravem mestu s pravimi predlogi.</p>
					<p>Z analizo profila strank vam Kumuluz Crowdsensing pomaga zgraditi dolgotrajen pristen odnos z vsako stranko posebej, kar nadomesti generično pošiljanje instant sporočil. Osebni profili so zasnovani na podlagi omejitev GDPR. Za obdelavo osebnih podatkov je potrebna ustrezna privolitev, drugi podatki v platformi pa so anonimizirani in ustrezno integrirani.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-3">
					<h3 class="darkblue">Kanali</h3>
					<p>Kumuluz Crowdsensing podpira vse sodobne osebne komunikacijske kanale. Enostavno lahko preklapljate med pošiljanjem e-pošte, SMS in mobilnih obvestil in tako komunicirate s svojimi strankami ob pravem času, na pravem mestu, preko prave naprave in z ravno pravim sporočilom. </p>
					<p>Napredne funkcije omogočajo avtomatizacijo komunikacije z uporabo kombinacije različnih komunikacijskih kanalov.</p>
					<p>Eno orodje za celostno obvladovanje direktnega stika s strankami.</p>
					<div class="row">
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>E-pošta</h3>
									<p>Pošiljajte e-poštna sporočila s personalizirano vsebino in uporabo predlog po vaši izbiri.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>SMS sporočila</h3>
									<p>Pošljite SMS sporočilo komurkoli, kjerkoli in jih obvestite o pomembnih zadevah.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>Mobilna obvestila</h3>
									<p>Pošiljajte mobilna obvestila skozi naš sistem in si poenostavite delo ter razširite poslovne priložnosti.</p>
								</div>
							</div>
						</div>
					</div>
					<p>Določite lahko tudi prevzeti (primarni) kanal za vsako stranko. Komunikacija z obstoječimi in potencialnimi strankami tako poteka po tistih kanalih, ki jim najbolj ustrezajo.</p>
					<p>Prav tako lahko preprosto preklapljajte med kanali. Pošljite SMS, nato pa nadaljujte komunikacijo prek e-pošte. Kampanjo lahko pošljete na posamezen kanal. Lahko jo pošljete na vse kanale. Kampanjo ustvarite za vse kanale, vsak prejemnik pa bo sporočilo dobil po kanalu, ki ga mu najbolj ustreza. </p>
					<p>Kombinacij je ogromno – izberite svojo, Kumuluz Crowdsensing namreč podpira vse.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-4">
					<h3 class="darkblue">Urejevalnik</h3>
					<p>Kumuluz Crowdsensing ima intuitiven uporabniški vmesnik za uporabo platforme ter urejanje besedil in je preprost za uporabo. Zasnovan je tako, da za njegovo uporabo ne boste potrebovali pomoči IT in tehničnega osebja. Pošiljanje sporočil je enostavno in brez presenečenj. Priprava kampanje pa poteka za vse kanale hkrati. </p>
					<p>Kumuluz Crowdsensing vsebuje preprost urejevalnik in takojšen predogled vsebine sporočila. Na voljo so vnaprej pripravljene grafične predloge, shranite lahko tudi svoje. Prav tako lahko uvozite HTML predloge, ki jih je pripravil vaš oblikovalec. Urejevalnik omogoča urejanje golega besedila, uvažanja HTML in CSS datotek, kot tudi dodajanje slik, avdio in video vsebin na preprost način povleci-in-spusti. Podprto je vstavljanje sledljivih povezav za pomoč pri merjenju učinka kampanj. </p>
					<p>Urejevalnik samodejno optimizira vsebino sporočil za različne formate prikaza in nudi takojšen predogled sporočila. Z uporabo vgrajenih urejevalnikov boste ustvarili sodobna e-poštna, SMS in mobilna sporočila, ki bodo navdušila. </p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-5">
					<h3 class="darkblue">Čas pošiljanja</h3>
					<p>Sporočila lahko pošljete takoj ali ob določenem času, ki ga predhodno nastavite. Sporočila lahko vežete tudi na lokacijo in strankma pošljete sporočila, ko fizično vstopijo, zapustijo ali preživijo določen čas na določeni geografski lokaciji, npr. ko gredo mimo vaše trgovine ali agencije. Odziv strank na vašo kampanjo lahko spremljate in analizirate preko nadzorne plošče sproti, vsi statistični podatki se posodabljajo v realnem času.</p>
					<p>Kumuluz Crowdsensing vsako poslano sporočilo spremlja, kdaj je bilo dostavljeno, prebrano in posredovano. Na podlagi analize podatkov poslanih kampanj Kumuluz Crowdsensing čas pošiljanja sporočil prilagodi in s tem zagotovi maksimalen doseg. Kumuluz Crowdsensing vključuje nadzorno ploščo, preko katere lahko spremljate tudi kdaj stranke berejo in odgovarjajo na vaša sporočila. </p>
					<p>Za optimizirano pošiljanje sporočil je v Kumuluz Crowdsensing dodana analiza, ob katerih urah je učinek poslanih sporočil največji. Na intuitivnem grafu so prikazani deli dneva, ko največ strank prebira vaša e-poštna, SMS ali mobilna obvestila. Kumuluz Crowdsensing spremlja statistične podatke za vsako poslano sporočilo vsakemu uporabniku posebej, s čimer vam omogoči pošiljanje sporočil ob optimalnem času za vsak segment strank posebej.</p>
					<p>Vsaka interakcija s strankami je tako personalizirana in aktivirana ročno ali s pomočjo tehnologije pametnih sprožilcev, ki na podlagi analize podatkov izberejo pravi čas za komunikacijo.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-6">
					<h3 class="darkblue">Geolokacija pošiljanja</h3>
					<p>Želite vašim strankam poslati sporočilo, ko gredo mimo vaše trgovine, ali se udeležijo dogodka, ali čakajo na letališču? Bi jih radi privabili v vašo poslovalnico in jim ponudili poseben popust, ko so v bližini? Kumuluz Crowdsensing podpira pošiljanje e-poštnih, SMS ali mobilnih obvestil glede na lokacijo prejemnika.</p>
					<p>Pošiljanje pravih sporočil pravim strankam ob pravem trenutku je možno s pomočjo najsodobnejšega algoritma za spremljanje geolokacije. Kumuluz Crowdsensing vključuje nastavitve za pošiljanje mobilnih obvestil, ko stranka vstopi, zapusti ali se določen čas nahaja na določeni lokaciji. Tako lahko stranko s personaliziranim sporočilom obvestite o posebni ponudbi, ko se sprehodi mimo vaše izložbe, ali pa jo glede na nakupovalni seznam vodite skozi vašo trgovino in s tem občutno izboljšate nakupovalno izkušnjo. </p>
					<p>Prednosti lokacijsko vezanih sporočil so številne. S spremljanjem lokacije strank lahko ugotovite tudi, kako pogosto in kdaj obiskujejo vašo trgovino in jih spodbudite k nakupu z individualnimi (nagradnimi) e-poštnimi, SMS in mobilnimi obvestili.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-7">
					<h3 class="darkblue">Podrobna analitika</h3>
					<p>Kumuluz Crowdsensing spremlja uspešnost poslanih kampanj v realnem času, kar vam omogoča hitre in takojšnje odločitve. Na ta način Kumuluz Crowdsensing poskrbi za učinkovito sodelovanje s strankami, njihovo zvestobo, dolgotrajno pripadnost in obojestransko zadovoljstvo. </p>
					<p>Za optimalne interakcije Kumuluz Crowdsensing podpira tudi funkcionalnost A/B testiranja, sprotno prilagajanje sporočil, enostavno urejanje, personalizacijo z enim klikom in razumljive vizualne prikaze statističnih analiz – vse to v realnem času.</p>
					<h5 class="lightblue">Kaj vse omogoča Kumuluz Crowdsensing analitika?</h5>
					<p>Za vsako poslano kampanjo spremljajte, kdaj in koliko sporočil je bilo poslanih, prebranih ali izbrisanih. Spremljajte povezave, ki so se zdele vašim strankam najbolj zanimive. Oglejte si, kdaj, kolikokrat in kdo je kliknil na povezavo. Izberite si časovno obdobje pregleda, primerjajte uspeh kampanj ali analizirajte uspeh kampanje glede na izbrani kanal pošiljanja. </p>
					<ul class="square-bullet">
						<li>Statistična poročila so pospremljena z sodobnimi grafi, s katerimi boste zajeli učinkovitost kampanje že z enim pogledom.</li>
						<li>Kumuluz Crowdsensing vam z uporabo A/B testov pomaga oceniti, s kakšno vsebino, obliko in izbranim kanalom komunikacije boste dosegli največji odziv strank.</li>
						<li>Nadzorna plošča omogoča pregled vseh in vsakega posameznega odgovora na poslano sporočilo. Pregled statističnih podatkov je mogoč za različna časovna obdobja. </li>
						<li>Kumuluz Crowdsensing omogoča spremljanje uspeha kampanje v realnem času in samodejno generiranje poročil v PDF formatu.</li>
					</ul>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-8">
					<h3 class="darkblue">Enostavna optimizacija</h3>
					<p>Optimizirajte vsako interakcijo in komunikacijo v realnem času. Zbirka orodij za optimizacijo pošiljanja sporočil omogoča samodejno pošiljanje, pregled in spremembe kampanj, tako da boste dosegli večji doseg in odziv strank na vaša sporočila. </p>
					<p>Na voljo je A/B razdelilna funkcija za ustvarjanje kontrolnih ciljnih skupin strank, ki bodo prejele variacije sporočila glede na vsebino, obliko in kanal komunikacije. Tako boste zagotovili, da boste poslali sporočilo, ki bo zagotovo pritegnilo pozornost vaših strank.</p>
					<h5 class="lightblue">Kaj omogoča funkcija A/B testov?</h5>
					<p>Niste prepričani, s katerim naslovom boste bolj pritegnili stranke? Ali se odločate med dvema različnima fotografijama za ozadje sporočila? Pravo izbiro določite z uporabo A/B testov. Pripravite različico A in različico B, Kumuluz Crowdsensing pa bo obe različici poslal različnim ciljnim skupinam in namesto vas analiziral, s katero različico boste dosegli večji učinek. </p>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
