{% set page = 'Home' %}
{% set body_class = 'index' %}
{% set header_class = '' %}
{% set language = 'en' %}
{% extends "partials/_layout.twig" %}

{% block content %}
	<section class="top_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pe-lg-4">
					<div class="">
						<h2>Engage your (potential) customers with personalized, multi-channel communication </h2>
						<p class="opacity-80">Kumuluz Crowdsensing is an advanced technological platform which enables you to engage in centralized communication with your customers and potential customers - via e-mail, SMS messages or push notifications. <br>
							<img src="assets/img/index-kv-mobile.png" alt="" class="img-fluid d-sm-block mt-5 mb-5 d-md-none d-lg-none d-xl-none">
							Your communication can be adjusted to fit every individual customer or group of customers, considering their geolocation, behavior, purchasing and other patterns. </p>
					</div>
				</div>
				<div class="col-lg-6  mt-5 mt-lg-0">
					<img src="assets/img/cs-header.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="features">
				<div class="row">
					<div class="col-md-4">
						Making use of the most recent technologies and analytics
					</div>
					<div class="col-md-4">
						Encouraging the purchase decision at the right moment
					</div>
					<div class="col-md-4">
						Anonymized, integrated and highly secure data
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="smart-cities-summary">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-6">
					<img src="assets/img/kumuluz-cs-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-6  mt-5 mt-md-0">
					<h2 class="darkblue">Kumuluz Crowdsensing - the technological heart of smart cities</h2>
					<p>The key element of smart cities is the effective integration of various ICT services and IoT devices as well as the capability to collect, process and analyze data, all of which contributes to our ability to offer services in smart city management.</p>
					<p>This is exactly the challenge that the Kumuluz Crowdsensing platform strives to tackle, enabling the development of a new generation of digital solutions of smart cities and communities, and at the same time, aiming to improve the quality of life for smart city resident as well as reducing infrastructure investment costs.</p>
					<a class="button mt-5" href="smart-cities.html">More</a>
				</div>
			</div>
		</div>
	</section>
	<section id=reason>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h2 class="darkblue">Why Kumuluz Crowdsensing?</h2>
					<p>The communication standard the modern customer expects and supports.</p>
				</div>
				<div class="col-md-8 offset-md-1">
					<div class="row">
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>An impressive experience in communication</h3>
									<p>Through the use of comprehensive profiling and advanced analytics, your sent messages to customers will always be relevant, consistent and personalized. Go the extra mile and impress your customers by reaching out to them with personalized communication.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-communication.png" alt="">
								</div>
								<div class="text">
									<h3>Synchronized communication across all channels</h3>
									<p>You can easily switch between e-mails, SMS, and push notifications and communicate with your customers at the right time, in the right place, through the right device and with just the right message. Fully exploit the advantages of multi-channel communication.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-segment.png" alt="">
								</div>
								<div class="text">
									<h3>Dynamic segmentation and automatization</h3>
									<p>Create dynamic segments of customers which get updated in real time, taking into account the location, actions, interactions and behavior of individuals in a segment.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-buyer.png" alt="">
								</div>
								<div class="text">
									<h3>Achieve an in-depth understanding of your customers</h3>
									<p>Through the analytic module of Kumuluz Crowdsensing, you will gain a much better understanding of your customers and will be able to offer them products and services they are actually interested in. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-growth.png" alt="">
								</div>
								<div class="text">
									<h3>Increasing sales and accelerating growth</h3>
									<p>Catch your existing and potential customers at the very moment when they wish to make a purchase or when doing so is most agreeable to them. Make use of the personalized communication trend, using parameters of time, location and customer behavior.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-analytics.png" alt="">
								</div>
								<div class="text">
									<h3>Advanced analytics and reporting</h3>
									<p>Use your dashboard to keep track of campaign impact in real time and generate PDF reports with a single click. Advanced analytics will enhance your understanding of customers and boost your trend analysis, and the AI-based module will improve the usage of resources based on crowd analysis.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="flow">
		<div class="container">
			<h2 class="darkblue text-center">How to use this platform (illustrated)</h2>
			<div class="flow-wrapper">
				<div class="hover-elements">
					<div class="wrap wrap-1">
						<img src="assets/img/cube-color.png" alt="" class="cube">
						<div class="cloud">
							<img src="assets/img/icons/icon-messaging.png" alt="" class="">
							Crowdsensing
						</div>
					</div>
					<div class="wrap wrap-2">
						<img src="assets/img/cube-color.png" alt="" class="cube">
						<div class="cloud">
							<img src="assets/img/icons/icon-segment.png" alt="" class="">
							Geolocation, time
						</div>
					</div>
					<div class="wrap wrap-3">
						<img src="assets/img/cube-color.png" alt="" class="cube">
						<div class="cloud">
							<img src="assets/img/icons/icon-analytics.png" alt="" class="">
							Analytics
						</div>
					</div>
				</div>
				<img src="assets/img/flow-base.png" alt="" class="img-fluid desktop">
				<img src="assets/img/flow-base-mobile-hor-eng.png" alt="" class="img-fluid static">
				<img src="assets/img/flow-base-mobile-vert-eng.png" alt="" class="img-fluid vertical">
				<div class="d-md-flex justify-content-around">
					<div class="col-title">
						<h5>Creating the message</h5>
						<ul class="square-bullet">
							<li>Choosing the segments</li>
							<li>Choosing the channels</li>
							<li>Creating the message</li>
							<li>Setting up the sequences</li>
						</ul>
					</div>
					<div class="col-title">
						<h5>Targeting settings</h5>
						<ul class="square-bullet">
							<li>Messaging schedule</li>
							<li>Geolocation</li>
							<li>Simultaneous optimization</li>
						</ul>
					</div>
					<div class="col-title">
						<h5>After messaging</h5>
						<ul class="square-bullet">
							<li>Real-time analytics</li>
							<li>Predictive analytics</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="capabilities">
		<div class="container">
			<div class="intro">
				<h2 class="darkblue text-center">Technological capabilities of Kumuluz Crowdsensing</h2>
				<p class="text-center">Kumuluz Crowdsensing is based on APIs, microservices and “cloud-native” architecture.</p>
			</div>

			<div class="accordion" id="accordion-1">

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-1">
			      <a class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
			        Collecting information
			      </a>
			    </h3>
			    <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>The platform enables passive collection of information through sensors as well as active collection of information from the customers themselves, e.g. through surveys on physically located tablets.</p>
							<p>Mobile phones, tablets, smart watches, IoT devices or sensors, smart traffic infrastructure, sensors in smart buildings etc. can all be sources of information.</p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-2">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
			        Data processing and data security
			      </a>
			    </h3>
			    <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>The collected data can be processed on the individual level, in segments or crowds. The data can easily be compiled with other data to gain crucial insights and information for making business decisions and developing personalized communication.</p>
							<p>All of these processes come with a guaranteed anonymization and merging of data by compiling it from various sensors and devices, allowing it to be effectively, scalably and robustly integrated and prepared for applied use.</p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-3">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
			        Blockchain technology
			      </a>
			    </h3>
			    <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>The platform is also based on distributed and encrypted data storage with the use of blockchain technology for storing sensitive data. It also enables the use of smart contracts in accessing and monetizing the data. </p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-4">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false">
			        Integration with other systems made easy
			      </a>
			    </h3>
			    <div id="collapse-4" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>The contacts of your customers may be imported or directly integrated with your existing systems and databases, like CRM or ERP data etc. APIs are also available for safe integration with back-end and other systems.</p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-5">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false">
			        Smart cities
			      </a>
			    </h3>
			    <div id="collapse-5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Kumuluz Crowdsensing is the ideal resource for creating advanced solutions in smart cities and improving the quality of life for residents. Residents and visitors can be offered wholly new services, which draw from sensing the needs of crowds, as well as improvements in infrastructure.</p>
							<p><a href="smart-cities.html" class="violet">More on smart cities <img src="assets/img/icons/link-arrow.png" alt=""></a></p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-6">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false">
			        Developer friendly
			      </a>
			    </h3>
			    <div id="collapse-6" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Developers can access selected (public) APIs. Those developing smart city and community solutions can also make use of an SDK, which makes fast, standardized development of ever new innovative solutions on the Kumuluz Crowdsensing platform possible.</p>
			      </div>
			    </div>
			  </div>

			</div>

			<div class="text-center">
					<a class="button mt-5 mb-5" href="tehnology.html">Read more on the technological capabilities of the platform</a>
			</div>


		</div>
	</section>
	<section id="smart-cities">
		<div class="container text-center">
			<h2 class="darkblue">Case studies</h2>
		</div>
		<div class="container-1">
			<div class="sms-cloud" onclick="window.location='case-studies.html'">
				<div class="sms">
					Send a message whenever customers are close to your restaurant.
				</div>
				<div class="sender">
					<img src="assets/img/icons/icon-human.png" alt="">
					<span>FOOD & DRINK</span>
				</div>
			</div>
			<div class="sms-cloud" onclick="window.location='case-studies.html'">
				<div class="sms">
					When the customer finishes his purchase, send him a report on the status of his loyalty points.
				</div>
				<div class="sender">
					<img src="assets/img/icons/icon-human.png" alt="">
					<span>RETAIL</span>
				</div>
			</div>
			<div class="sms-cloud" onclick="window.location='case-studies.html'">
				<div class="sms">
					Notify the customer about a detour and invite him to visit your gas station on the new route.
				</div>
				<div class="sender">
					<img src="assets/img/icons/icon-human.png" alt="">
					<span>TRANSPORT</span>
				</div>
			</div>
		</div>
		<div class="container-2">
			<div class="inner">
				<div class="empty_case">

				</div>
				<div class="sms-cloud" onclick="window.location='case-studies.html'">
					<div class="sms">
						Send the customer an offer for the dress he spent the most time looking at in the store.
					</div>
					<div class="sender">
						<img src="assets/img/icons/icon-human.png" alt="">
						<span>FASHION</span>
					</div>
				</div>
				<div class="sms-cloud" onclick="window.location='case-studies.html'">
					<div class="sms">
						As a sponsor of an event, provide your customers with a special offer at the event.
					</div>
					<div class="sender">
						<img src="assets/img/icons/icon-human.png" alt="">
						<span>EVENTS</span>
					</div>
				</div>
				<div class="empty_case">

				</div>
			</div>
		</div>
		<div class="container-3">

		</div>
	</section>
{% endblock %}
