{% set page = 'Domov' %}
{% set body_class = 'index' %}
{% set header_class = '' %}
{% set language = 'sl' %}
{% extends "partials/_layout.twig" %}

{% block content %}
	<section class="top_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pe-lg-4">
					<div class="">
						<h2>Približajte se vašim (potencialnim) strankam s personalizirano večkanalno komunikacijo</h2>
						<p class="opacity-80">Kumuluz Crowdsensing je napredna tehnološka platforma, ki omogoča centralizirano komuniciranje z vašimi obstoječimi in potencialnimi strankami – preko e-pošte, SMS sporočil ali mobilnih obvestil.<br>
							<img src="assets/img/index-kv-mobile.png" alt="" class="img-fluid d-sm-block mt-5 mb-5 d-md-none d-lg-none d-xl-none">
							Komunikacijo lahko prilagodite za vsakega posameznega ali skupine strank glede na geolokacijske, vedenjske, nakupne ter druge vzorce.</p>
					</div>
				</div>
				<div class="col-lg-6  mt-5 mt-lg-0">
					<img src="assets/img/cs-header.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="features">
				<div class="row">
					<div class="col-md-4">
						Uporaba najsodobnejših tehnologij in analitike
					</div>
					<div class="col-md-4">
						Spodbuditev nakupne odločitve v pravem trenutku
					</div>
					<div class="col-md-4">
						Anonimizirani, integrirani in skrbno varovani podatki
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="smart-cities-summary">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-6">
					<img src="assets/img/kumuluz-cs-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-6  mt-5 mt-md-0">
					<h2 class="darkblue">Kumuluz Crowdsensing – Tehnološko srce pametnega mesta</h2>
					<p>Ključen element pametnih mest je učinkovita integracija različnih storitev IKT in naprav IoT ter zmožnost zbiranja in procesiranja podatkov ter njihove analize, skozi katere zagotavljamo storitve za upravljanje pametnega mesta.</p>
					<p>Ravno ta izziv rešuje platforma Kumuluz Crowsensing, ki tako omogoča razvoj nove generacije digitalnih rešitev za pametna mesta in skupnosti, hkrati pa možnost izboljšave kakovosti življenja občanov v pametnih mestih ter zmanjšanje stroškov investicij v infrastrukturo.</p>
					<a class="button mt-5" href="pametna-mesta.html">Več o pametnih mestih</a>
				</div>
			</div>
		</div>
	</section>
	<section id=reason>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h2 class="darkblue">Zakaj Kumuluz Crowdsensing</h2>
					<p>Standard komunikacije, ki ga kupci v sodobnem svetu pričakujejo in nagrajujejo.</p>
				</div>
				<div class="col-md-8 offset-md-1">
					<div class="row">
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-messaging.png" alt="">
								</div>
								<div class="text">
									<h3>Impresivna izkušnja sporočanja</h3>
									<p>S pomočjo celostnih profilov in z uporabo napredne analitike bodo poslana sporočila vedno relevantna, dosledna in osebna. Naredite dodaten vtis in se približajte strankam s personalizirano komunikacijo.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-communication.png" alt="">
								</div>
								<div class="text">
									<h3>Usklajena komunikacija preko vseh kanalov</h3>
									<p>Enostavno preklapljate med pošiljanjem e-pošte, SMS in mobilnih obvestil in komunicirajte s svojimi strankami ob pravem času, na pravem mestu, preko prave naprave in preko pravega kanala. Izkoristite vse prednosti večkanalne komunikacije.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-segment.png" alt="">
								</div>
								<div class="text">
									<h3>Dinamična segmentacija in avtomatizacija</h3>
									<p>Ustvarite dinamične segmente strank, ki se posodabljajo v realnem času glede na zajete podatke o lokaciji, dejanjih, interakcijah in obnašanju posameznikov v določenem segmentu.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-buyer.png" alt="">
								</div>
								<div class="text">
									<h3>Poglobljeno razumevanje strank</h3>
									<p>S pomočjo analitičnega modula Kumuluz Crowdsensing boste bistveno bolje razumeli vaše stranke ter jim lažje ponudili tiste produkte in storitve, ki jih dejansko zanimajo. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-growth.png" alt="">
								</div>
								<div class="text">
									<h3>Povečanje prodaje in hitrejša rast</h3>
									<p>Ujemite vaše obstoječe in potencialne stranke v ravno pravem trenutku, ko si dejansko želijo izvesti nakup ali ko je izvedba nakupa najbolj priročna. Izkoristite trend personalizirane komunikacije glede na čas, lokacijo ter dejanja strank.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="icon_box">
								<div class="icon">
									<img src="assets/img/icons/icon-analytics.png" alt="">
								</div>
								<div class="text">
									<h3>Napredna analitika in poročanje</h3>
									<p>Prek nadzorne plošče spremljajte učinkovitost kampanje v realnem času in z enim klikom generirajte poročila v PDF formatu. Napredna analitika omogoča boljše razumevanje strank in analizo trendov, modul, temelječ na umetni inteligenci, pa napoved uporabe sredstev na podlagi analize množic.</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-6">
							<div class="circles">
								<img src="assets/img/cs-background-circles.png" alt="">
							</div>
							<a class="button mt-5" href="#">Več o prednostih platforme</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="flow">
		<div class="container">
			<h2 class="darkblue text-center">Potek uporabe platforme</h2>
			<div class="flow-wrapper">
				<div class="hover-elements">
					<div class="wrap wrap-1">
						<img src="assets/img/cube-color.png" alt="" class="cube">
						<div class="cloud">
							<img src="assets/img/icons/icon-messaging.png" alt="" class="">
							Crowdsensing
						</div>
					</div>
					<div class="wrap wrap-2">
						<img src="assets/img/cube-color.png" alt="" class="cube">
						<div class="cloud">
							<img src="assets/img/icons/icon-segment.png" alt="" class="">
							Geolokacija, čas
						</div>
					</div>
					<div class="wrap wrap-3">
						<img src="assets/img/cube-color.png" alt="" class="cube">
						<div class="cloud">
							<img src="assets/img/icons/icon-analytics.png" alt="" class="">
							Analitika
						</div>
					</div>
				</div>
				<img src="assets/img/flow-base.png" alt="" class="img-fluid desktop">
				<img src="assets/img/flow-base-mobile-hor.png" alt="" class="img-fluid static">
				<img src="assets/img/flow-base-mobile-vert.png" alt="" class="img-fluid vertical">
				<div class="d-md-flex justify-content-around">
					<div class="col-title">
						<h5>Oblikovanje sporočila</h5>
						<ul class="square-bullet">
							<li>Izbor segmentov</li>
							<li>Izbor kanalov</li>
							<li>Oblikovanje sporočila</li>
							<li>Nastavitev sekvenc</li>
						</ul>
					</div>
					<div class="col-title">
						<h5>Nastavitve tarčenja</h5>
						<ul class="square-bullet">
							<li>Čas pošiljanja</li>
							<li>Geolokacija</li>
							<li>Sprotna optimizacija</li>
						</ul>
					</div>
					<div class="col-title">
						<h5>Po sporočanju</h5>
						<ul class="square-bullet">
							<li>Analitika v realnem času</li>
							<li>Prediktivna analitika</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="capabilities">
		<div class="container">
			<div class="intro">
				<h2 class="darkblue text-center">Tehnološke zmožnosti Kumuluz Crowdsensing</h2>
				<p class="text-center">Kumuluz Crowdsensing temelji na API-jih, mikrostoritvah in »cloud-native« arhitekturi.</p>
			</div>

			<div class="accordion" id="accordion-1">

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-1">
			      <a class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
			        Zbiranje informacij
			      </a>
			    </h3>
			    <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
			        <p>Platforma omogoča pasivno zbiranje informacij preko senzorjev, prav tako pa tudi aktivno zbiranje informacij s strani strank, kot so npr. ankete na tablicah na fizičnih lokacijah.</p>
							<p>Viri podatkov so lahko mobilni telefoni, tablice, pametne ure, IoT naprave in senzorji, pametna prometna infrastruktura, senzorji pametnih stavb itd.</p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-2">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
			        Obdelava in varovanje podatkov
			      </a>
			    </h3>
			    <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Zbrane informacije lahko obdelujete na ravni posameznikov, segmentov in množic. Podatke lahko enostavno združujete z drugimi podatki ter pridobite ključne vpoglede in informacije za poslovno odločanje in personalizirano komuniciranje.</p>
							<p>Pri tem je zagotovljena anonimizacija in integracija podatkov z zlivanjem iz različnih senzorjev in naprav, kar omogoča zmogljivo, skalabilno in robustno integracijo podatkov ter pripravo teh podatkov za aplikativno uporabo.</p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-3">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
			        Tehnologija veriženja blokov (»Blockchain«)
			      </a>
			    </h3>
			    <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Platforma temelji tudi na distribuirani in šifrirani hrambi podatkov z uporabo tehnologije veriženja blokov (»blockchain«) za shranjevanje občutljivih podatkov. Prav tako omogoča uporabo pametnih pogodb za urejanje dostopa do podatkov ter monetizacijo le-teh. </p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-4">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false">
			        Enostavna integracija z drugimi sistemi
			      </a>
			    </h3>
			    <div id="collapse-4" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Kontakte vaših strank uvozite ali pa jih direktno integrirajte z vašimi sistemi in podatkovnimi bazami, kot so podatki v CRM, ERP ipd. Na voljo so API-ji za varno integracijo z zalednimi in drugimi sistemi.</p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-5">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false">
			        Pametna mesta
			      </a>
			    </h3>
			    <div id="collapse-5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Kumuluz Crowdsensing je idealna rešitev za oblikovanje naprednih rešitev pametnega mesta ter izboljšanje kakovosti bivanja občanov. Prebivalcem in obiskovalcem se lahko ponudi povsem nove storitve na podlagi zaznavanja potreb množic in izboljšano infrastrukturo.</p>
							<p><a href="pametna-mesta.html" class="violet">Več o pametnih mestih <img src="assets/img/icons/link-arrow.png" alt=""></a></p>
			      </div>
			    </div>
			  </div>

				<div class="accordion-item">
			    <h3 class="accordion-header" id="heading-6">
			      <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false">
			        Prijazna za razvijalce
			      </a>
			    </h3>
			    <div id="collapse-6" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
			      <div class="accordion-body">
							<p>Razvijalcem je na voljo dostop do izbranih (javnih) API-jev, prav tako pa je na voljo SDK za razvijalce rešitev za pametna mesta in skupnosti, kar omogoča hiter in standardiziran razvoj vedno novih inovativnih rešitev na platformi Kumuluz Crowdsensing.</p>
			      </div>
			    </div>
			  </div>

			</div>

			<div class="text-center">
					<a class="button mt-5 mb-5" href="tehnologija.html">Več o uporabljeni tehnologiji</a>
			</div>


		</div>
	</section>
	<section id="smart-cities">
		<div class="container text-center">
			<h2 class="darkblue">Študije primerov</h2>
		</div>
		<div class="container-1">
			<div class="sms-cloud" onclick="window.location='primeri-uporabe.html'">
				<div class="sms">
					Pošljite sporočilo, ko so stranke blizu vaše restavracije.
				</div>
				<div class="sender">
					<img src="assets/img/icons/icon-human.png" alt="">
					<span>GOSTINSTVO</span>
				</div>
			</div>
			<div class="sms-cloud" onclick="window.location='primeri-uporabe.html'">
				<div class="sms">
					Ko stranka konča nakup, pošljite informacijo o stanju točk zvestobe.
				</div>
				<div class="sender">
					<img src="assets/img/icons/icon-human.png" alt="">
					<span>TRGOVINA</span>
				</div>
			</div>
			<div class="sms-cloud" onclick="window.location='primeri-uporabe.html'">
				<div class="sms">
					Obvestite stranke o obvozu in naj na novi poti obiščejo vaš bencinski servis.
				</div>
				<div class="sender">
					<img src="assets/img/icons/icon-human.png" alt="">
					<span>TRANSPORT</span>
				</div>
			</div>
		</div>
		<div class="container-2">
			<div class="inner">
				<div class="empty_case">

				</div>
				<div class="sms-cloud" onclick="window.location='primeri-uporabe.html'">
					<div class="sms">
						Pošljite stranki ponudbo za obleko, ki si jo je v trgovini najbolj ogledoval.
					</div>
					<div class="sender">
						<img src="assets/img/icons/icon-human.png" alt="">
						<span>MODA</span>
					</div>
				</div>
				<div class="sms-cloud" onclick="window.location='primeri-uporabe.html'">
					<div class="sms">
						Kot sponzor dogodka pošljite udeležencem posebno ponudbo na samem dogodku.
					</div>
					<div class="sender">
						<img src="assets/img/icons/icon-human.png" alt="">
						<span>DOGODKI</span>
					</div>
				</div>
				<div class="empty_case">

				</div>
			</div>
		</div>
		<div class="container-3">

		</div>
	</section>
{% endblock %}
