{% set page = 'Pametna mesta' %}
{% set body_class = 'smart-cities' %}
{% set header_class = '' %}
{% set language = 'sl' %}
{% extends "partials/_layout.twig" %}

{% block content %}
	<section class="top_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pe-lg-4">
					<div class="">
						<h2>Pametna mesta</h2>
						<p class="opacity-80">Pametna mesta so urbana območja, ki s pomočjo naprednih tehnoloških rešitev omogočajo kakovostnejše življenje ljudi ter ponujajo povsem nove priložnosti za poslovanje.</p>
						<p class="opacity-80">Pametna mesta temeljijo na naprednih tehnoloških rešitvah, od zbiranja podatkov preko IoT naprav, mobilnih telefonov in senzorjev, do specifične obdelave množičnih podatkov ter na koncu zagotavljanja konkretnih aplikativnih rešitev za prebivalstvo in poslovne subjekte.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="img-shadow">
						<img src="assets/img/sc-1.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="features">
				<div class="heading">
					Primeri aplikativnih tehnoloških rešitev za pametna mesta so:
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-md-6">
						Krmiljenje pametnih stavb
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Upravljanje prometa in javne signalizacije
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Boljše upravljanje z odpadki
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Obveščanje o točnem urniku javnega prevoza
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Napovedovanje uporabe javne infrastrukture
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Zbiranje zadovoljstva uporabnikov po uporabi storitve na lokacijah
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Predvidevanje toka gibanja množic
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p><strong>Pametna mesta so prihodnost in priložnost.</strong> Iz tehnološkega vidika pa zasnova pametnih mest ni enostavna, saj je najprej potrebna ustrezna omrežna infrastruktura ter nato smiselna uporaba kombinacije naprednih tehnologij, kot so računalništvo v oblaku, množično zaznavanje (crowdsensing), obdelava obsežnih in odprtih podatkov, razvoj različnih aplikacij in še več. V središču pametnih mest je predvsem ustrezno zbiranje, obdelava, interpretacija ter uporaba podatkov.</p>
					<p>Ne glede na zahtevnost implementacije so koristi pametnih mest velike:</p>
					<ul class="square-bullet">
						<li>Boljša mobilnost prebivalstva</li>
						<li>Trajnost in racionalnejše upravljanje z viri</li>
						<li>Osredotočenost na kakovost življenja prebivalcev</li>
						<li>Nove poslovne priložnosti in možnost novih poslovnih modelov</li>
						<li>Večja povezanost, lažja izmenjava informacij, ipd.</li>
					</ul>
					<p>Rešitev Kumuluz Crowdsensing omogoča lažje oblikovanje zahtevnih aplikativnih rešitev pametnih mest in premostitev izzivov, ki se nanašajo na podatke, ki so srce vsakega pametnega mesta.</p>
				</div>
				<div class="col-md-6">
					<img src="assets/img/sc-phone.png" alt="" class="img-fluid d-block" style="margin-left: auto">
				</div>
			</div>
			<div class="row mt-5 pt-5">
				<div class="col-md-6">
					<img src="assets/img/kumuluz-cs-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-6  mt-5 mt-md-0">
					<h2 class="darkblue">Kumulz Crowdsensing – Tehnološko srce pametnega mesta</h2>
					<p>Ključen element pametnih mest je učinkovita integracija različnih storitev IKT in naprav IoT ter zmožnost zbiranja in procesiranja podatkov ter njihove analize, skozi katere zagotavljamo storitve za upravljanje pametnega mesta.</p>
					<p>Ravno ta izziv rešuje platforma Kumuluz Crowsensing, ki tako omogoča razvoj nove generacije digitalnih rešitev za pametna mesta in skupnosti, hkrati pa možnost izboljšave kakovosti življenja občanov v pametnih mestih ter zmanjšanje stroškov investicij v infrastrukturo.</p>
					<p>Ključna komponenta za ustvarjanje pametnih mest so namreč mehanizmi zaznavanja potreb množic, ustrezna obdelava podatkov ter uporaba podatkov za različne storitve pametnega mesta. Pametno mesto mora temeljiti na dejanskih podatkih o množicah, kar omogoča ravno Kumuluz Crowdsensing.</p>
					<p>Kumuluz Crowdsensing omogoča:</p>
					<ul class="square-bullet">
						<li>Zbiranje podatkov iz različnih virov (senzorji, mobilni telefoni, IoT naprave)</li>
						<li>Zbiranje, agregiranje in anonimizacija podatkov</li>
						<li>Zagotavljanje ustrezne varnosti zbranih podatkov (enkripcija ipd.)</li>
						<li>Validiranje, analiziranje in prikazovanje podatkov</li>
						<li>Hiter razvoj novih digitalnih rešitev ter uporaba podatkov, saj je Kumuluz Crowdsensing del digitalne platforme Kumuluz Digital</li>
					</ul>
					<p>Ste javna ali zasebna organizacija, ki aktivno načrtuje razvoj novih rešitev za pametna mesta? Vas zanima več, kako vam lahko pomaga z upravljanjem množičnih podatkov Kumuluz Crowdsensing? Kontaktirajte nas.</p>
					<p>Dobrodošli v prihodnosti pametnih mest.</p>
					<a class="button mt-5" href="kontakt.html">Kontaktirajte nas</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
