{% set page = 'Smart cities' %}
{% set body_class = 'smart-cities' %}
{% set header_class = '' %}
{% set language = 'en' %}
{% extends "partials/_layout.twig" %}

{% block content %}
	<section class="top_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pe-lg-4">
					<div class="">
						<h2>Smart cities</h2>
						<p class="opacity-80">Smart cities are urban environments that make use of advanced technological solutions to improve the quality of life and provide wholly new opportunities for employment. </p>
						<p class="opacity-80">Smart cities are based on advanced technological solutions: from data collection through IoT devices, mobile phones and sensors, to specific big data processing, and last but not least, providing concrete, applicative solutions for residents and business entities.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="img-shadow">
						<img src="assets/img/sc-1.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="features">
				<div class="heading">
					Some examples of applicative technological solutions for smart cities:
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-md-6">
						Managing smart buildings
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Directing the traffic and public signage
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Improving waste management
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Providing information on public transport schedules
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Forecasting the usage of public infrastructure
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Collecting user satisfaction data after using services on location
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6">
						Predicting the flow of crowd movements
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p><strong>Smart cities are the future and an opportunity. </strong> From the tech point of view, setting up a smart city isn’t easy - it first calls for an appropriate network infrastructure, then a sensible combination of advanced technologies like cloud computing, crowd sensing, processing big data and open data, developing various applications and much more. The core of every smart city is, mainly, the appropriate collection, processing, interpretation and use of data.</p>
					<p>Regardless of their challenging implementation, smart cities do carry several advantages:</p>
					<ul class="square-bullet">
						<li>Improving residents’ mobility</li>
						<li>Sustainability and improved resource management</li>
						<li>Focus on the residents’ quality of life</li>
						<li>New business opportunities, possibilities of new business models</li>
						<li>Increasing connectivity, facilitating the flow of information etc.</li>
					</ul>
					<p>The Kumuluz Crowdsensing solution facilitates the solving of demanding applicative problems and the bridging of challenges in data, which represents the heart of any smart city.</p>
				</div>
				<div class="col-md-6">
					<img src="assets/img/sc-phone.png" alt="" class="img-fluid d-block" style="margin-left: auto">
				</div>
			</div>
			<div class="row mt-5 pt-5">
				<div class="col-md-6">
					<img src="assets/img/kumuluz-cs-img.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-6  mt-5 mt-md-0">
					<h2 class="darkblue">Kumuluz Crowdsensing - the technological heart of smart cities</h2>
					<p>The key element of smart cities is the effective integration of various ICT services and IoT devices as well as the capability to collect, process and analyze data, all of which contributes to our ability to offer services in smart city management. </p>
					<p>This is exactly the challenge that the Kumuluz Crowdsensing platform strives to tackle, enabling the development of a new generation of digital solutions of smart cities and communities, and at the same time, aiming to improve the quality of life for smart city resident as well as reducing infrastructure investment costs.</p>
					<p>The key component in creating smart cities is precisely the various mechanisms for sensing the needs of crowds, properly processing data and using the data for various smart city services. A smart city must draw on actual crowd information, which is exactly what Kumuluz Crowdsensing is bringing to the table.</p>
					<p>Kumuluz Crowdsensing makes it possible to:</p>
					<ul class="square-bullet">
						<li>Gather information from various sources (sensors, mobile phones, IoT devices)</li>
						<li>Collect, aggregate and anonymize the data</li>
						<li>Ensure the proper safety of the collected information (encryption etc.)</li>
						<li>Validate, analyze and display data</li>
						<li>Boost the development of new digital solutions as well as using the data, as Kumuluz Crowdsensing is part of the digital platform Kumuluz Digital</li>
					</ul>
					<p>Are you a public or private organization who is actively planning new smart city solutions? Do you want to know more about how Kumuluz Crowdsensing can help you manage big data? Contact us. </p>
					<p>Welcome to the future of smart cities.</p>
					<a class="button mt-5" href="contact.html">Contact us</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
