{% set page = 'Technology' %}
{% set language = 'en' %}
{% set body_class = 'technology' %}
{% set header_class = 'permanent_white' %}
{% extends "partials/_layout.twig" %}

{% block content %}
<section>
	<div class="container">
		<a id="back-to-top"><svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   id="Layer_1"
		   data-name="Layer 1"
		   viewBox="0 0 18 18"
		   version="1.1"
		   sodipodi:docname="dropdown-icon.svg"
		   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)">
		  <metadata
		     id="metadata11">
		    <rdf:RDF>
		      <cc:Work
		         rdf:about="">
		        <dc:format>image/svg+xml</dc:format>
		        <dc:type
		           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <defs
		     id="defs9" />
		  <sodipodi:namedview
		     pagecolor="#ffffff"
		     bordercolor="#666666"
		     borderopacity="1"
		     objecttolerance="10"
		     gridtolerance="10"
		     guidetolerance="10"
		     inkscape:pageopacity="0"
		     inkscape:pageshadow="2"
		     inkscape:window-width="1920"
		     inkscape:window-height="1017"
		     id="namedview7"
		     showgrid="false"
		     inkscape:zoom="13.111111"
		     inkscape:cx="9"
		     inkscape:cy="9"
		     inkscape:window-x="-8"
		     inkscape:window-y="-8"
		     inkscape:window-maximized="1"
		     inkscape:current-layer="Layer_1" />
		  <title
		     id="title2">arrow</title>
		  <path
		     d="m 0.95776,4.505184 v 0 a 0.99989,0.99989 0 0 1 1.41408,0 l 6.62792,6.62842 6.62842,-6.62842 a 0.99989,0.99989 0 0 1 1.41406,0 v 0 a 0.99989,0.99989 0 0 1 0,1.41406 l -7.74538,7.74538 a 0.42016,0.42016 0 0 1 -0.5942,0 l -7.7449,-7.74538 a 0.99989,0.99989 0 0 1 0,-1.41406 z"
		     id="path4"
		     style="fill:#5dc2ef;fill-opacity:1"
		     inkscape:connector-curvature="0" />
		</svg></a>
		<div class="row">
			<div class="col-md-4">
				<div class="ss-wrapper">
					<p class="font-weight-bold lightblue">Technology</p>
					<div id="ss-nav" class="">
					  <a class="list-group-item" href="#list-item-1">Data collection</a>
					  <a class="list-group-item" href="#list-item-2">Data processing and data security</a>
					  <a class="list-group-item" href="#list-item-3">Blockchain technology</a>
					  <a class="list-group-item" href="#list-item-4">Connectivity and integrations</a>
					</div>
				</div>
			</div>
			<div class="col-md-7  offset-md-1 mt-5 mt-md-0">
				<h2 class="darkblue font-weight-normal">Technology</h2>
				<div id="list-item-1">
					<h3 class="darkblue">Data collection</h3>
					<p>Kumuluz Crowdsensing enables collecting data from the widest possible spectrum of devices, suitably merging the data and process the data for applicative use.</p>
					<p>Collection is possible in almost every smart devices or sensor, including fixed sensors, smart traffic infrastructure, smart building sensors etc. Data may also be actively collected on computers or tablets on physical locations etc. The possibilities of data collection are endless.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-2">
					<h3 class="darkblue">Data processing and data security</h3>
					<p>When processing and using the data, personal data security is the top priority. The security of private information on individuals is achieved in several ways:</p>
					<p>All data collection is encrypted with the help of the latest technologies, ensuring end-to-end encryption. The collected big data is then processed in two ways: anonymization and integration/merging. </p>
					<p>Anonymization of data makes sure that the individuals which contributed the data cannot be identified from the collected information. Data anonymization is performed with the most modern algorithms. The same goes for integration or merging the data from several sources. </p>
					<blockquote>For example, data collected from sensors, IoT devices and smart traffic signage, and data from mobile phones, smart watches, wearable devices and other sources are integrated and merged into a meaningful whole. </blockquote>
					<p>In the process of collecting data, KumuluzCrowdsensing also makes it possible for the users themselves to determine the rules on how the data may be used, using smart contracts. </p>
					<blockquote>For example, friends and family as well as individuals may access the information free of charge, with no limits on the first, and with rate-limiting on the rest. Companies and other commercial users are allowed to use the information only under certain conditions or at a set price. </blockquote>
					<p>The active collection of any sort of private data is carried out in compliance with the GDPR laws. An additional layer of security is added through the use of blockchain technology.</p>

				</div>
				<div class="divider thin"></div>
				<div id="list-item-3">
					<h3 class="darkblue">Blockchain technology</h3>
					<p>When collecting big data, users frequently express worries about where this data is being kept and what it is being used for. This is why we decided to take our security a step further by using the latest technologies.</p>
					<p>Thus, the Kumuluz Crowdsensing is based on a distributed and encrypted data storage through the use of blockchain technology for storing sensitive data and using smart contracts to manage access to the data as well as their monetization at a later stage. </p>
					<p>Smart contracts are used in such a way that they limit the access and determine the rights of access to data for various parties, while keeping you, the owner of the data, in control over how the data may be processed and used.</p>
					<p>Despite the simple API, blockchain technology gives users transparency in collecting, processing and accessing data. The data is stored in such a way that every data owner has complete insight and control over where the data is being kept and who can access it.</p>
					<p>Moreover, the users on the platform can monetize data with transparency. Kumuluz Crowdsensing is designed to enable monetization of the collected data with respect to the various purposes and ranges of use as defined inside the functionality of the platform.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-4">
					<h3 class="darkblue">Connectivity and integrations</h3>
					<p>With Kumuluz Crowdsensing, the data is suitably collected, integrated, filtered, stored, anonymized and treated in other ways, then exposed through APIs for the rapid development of advanced public and commercial services, taking into account the collected data from crowds, segments and individuals.</p>
					<p>You can import your customers’ contacts or directly integrate them with your systems and databases. APIs for safe integration with back-end systems are available. Easily integrate data from the Kumuluz Crowdsensing platform through APIs in your web solutions or applications.</p>
					<p>This enables you to easily manage customers’ data in real time. Kumuluz Crowdsensing can be easily integrated with CRM systems as well as other back-end systems, where it gathers information on your customers, and it also enables the use of suitably processed data in various applicative solutions through APIs. </p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
