{% set page = 'tehnologija' %}
{% set language = 'sl' %}
{% set body_class = 'technology' %}
{% set header_class = 'permanent_white' %}
{% extends "partials/_layout.twig" %}

{% block content %}
<section>
	<div class="container">
		<a id="back-to-top"><svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   id="Layer_1"
		   data-name="Layer 1"
		   viewBox="0 0 18 18"
		   version="1.1"
		   sodipodi:docname="dropdown-icon.svg"
		   inkscape:version="0.92.2 (5c3e80d, 2017-08-06)">
		  <metadata
		     id="metadata11">
		    <rdf:RDF>
		      <cc:Work
		         rdf:about="">
		        <dc:format>image/svg+xml</dc:format>
		        <dc:type
		           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <defs
		     id="defs9" />
		  <sodipodi:namedview
		     pagecolor="#ffffff"
		     bordercolor="#666666"
		     borderopacity="1"
		     objecttolerance="10"
		     gridtolerance="10"
		     guidetolerance="10"
		     inkscape:pageopacity="0"
		     inkscape:pageshadow="2"
		     inkscape:window-width="1920"
		     inkscape:window-height="1017"
		     id="namedview7"
		     showgrid="false"
		     inkscape:zoom="13.111111"
		     inkscape:cx="9"
		     inkscape:cy="9"
		     inkscape:window-x="-8"
		     inkscape:window-y="-8"
		     inkscape:window-maximized="1"
		     inkscape:current-layer="Layer_1" />
		  <title
		     id="title2">arrow</title>
		  <path
		     d="m 0.95776,4.505184 v 0 a 0.99989,0.99989 0 0 1 1.41408,0 l 6.62792,6.62842 6.62842,-6.62842 a 0.99989,0.99989 0 0 1 1.41406,0 v 0 a 0.99989,0.99989 0 0 1 0,1.41406 l -7.74538,7.74538 a 0.42016,0.42016 0 0 1 -0.5942,0 l -7.7449,-7.74538 a 0.99989,0.99989 0 0 1 0,-1.41406 z"
		     id="path4"
		     style="fill:#5dc2ef;fill-opacity:1"
		     inkscape:connector-curvature="0" />
		</svg></a>
		<div class="row">
			<div class="col-md-4">
				<div class="ss-wrapper">
					<p class="font-weight-bold lightblue">TEHNOLOGIJA</p>
					<div id="ss-nav" class="">
					  <a class="list-group-item" href="#list-item-1">Zbiranje podatkov</a>
					  <a class="list-group-item" href="#list-item-2">Obdelava in varovanje podatkov</a>
					  <a class="list-group-item" href="#list-item-3">Blockchain – tehnologija veriženja blokov</a>
					  <a class="list-group-item" href="#list-item-4">Povezljivost in integracije</a>
					</div>
				</div>
			</div>
			<div class="col-md-7  offset-md-1 mt-5 mt-md-0">
				<h2 class="darkblue font-weight-normal">Tehnologija</h2>
				<div id="list-item-1">
					<h3 class="darkblue">Zbiranje podatkov</h3>
					<p>Kumuluz Crowdsensing omogoča zbiranje podatkov iz najširšega spektra naprav, ter njihovo ustrezno zlivanje ter obdelavo za aplikativno uporabnost.</p>
					<p>Zbiranje je mogoče skoraj iz vseh pametnih naprav in senzorjev, vključno s fiksnimi senzorji, pametno prometno infrastrukturo, senzorji pametnih stavb ipd. Prav tako je možno aktivno zbiranje s pomočjo anket na računalnikih ali tablicah na fizičnih lokacijah ipd. Možnosti zbiranja podatkov so neskončne.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-2">
					<h3 class="darkblue">Obdelava in varovanje podatkov</h3>
					<p>Pri obdelavi in uporabi podatkov je na prvem mestu varnost osebnih podatkov. Varnost osebnih podatkov posameznikov je zagotovljena na več načinov:</p>
					<p>Zbiranje vseh podatkov je enkriptirano z najnovejšimi tehnologijami, pri čemer je zagotovljena enkripcija na celotni poti (“end-to-end« enkripcija). Zbrani množični podatki so nato obdelani na dva načina: anonimizacija in integracija oz. zlivanje. </p>
					<p>Z anonimizacijo podatkov se doseže, da se iz zbirnih podatkov ne da identificirati posameznikov, ki so te podatke prispevali. Anonimizacija podatkov je izvedena z uporabo najsodobnejših algoritmov. Prav tako je izvedena integracija oz. zlivanje podatkov iz različnih virov. </p>
					<blockquote>Na primer: podatki zbrani iz senzorjev, naprav IoT, pametne prometne signalizacije in podatki, zbrani iz mobilnih naprav, pametnih ur, wearable-naprav in ostalih virov so integrirani in zliti v smiselno celoto. </blockquote>
					<p>Kumuluz Crowdsensing prav tako omogoča, da v postopkih zbiranja podatkov uporabniki z uporabo pametnih pogodb določijo pravila, kako se te podatki lahko uporabljajo. </p>
					<blockquote>Na primer, prijatelji in družina ter posamezniki lahko do teh podatkov dostopajo brezplačno, prvi v neomejenih količinah, drugi pa imajo dnevne omejitve (»rate-limiting«). Podjetjem in drugim komercialnim uporabnikom pa se uporaba podatkov dovoli ob izpolnjevanju določenih pogojev, npr. proti plačilu. </blockquote>
					<p>Aktiven zajem kakršnih koli osebnih podatkov poteka na podlagi GDPR zakonodaje. Dodatna varnost je zagotovljena tudi s tehnologijo veriženja blokov (»blockchain«).</p>

				</div>
				<div class="divider thin"></div>
				<div id="list-item-3">
					<h3 class="darkblue">Blockchain – tehnologija veriženja blokov</h3>
					<p>Pri zbiranju (velikih) podatkov uporabnikov je pogosto prisotna bojazen slednjih v smislu, kje se ti podatki shranjujejo in za kaj se uporabljajo. Zato smo se odločili, da gremo pri varnosti podatkov še korak dlje z uporabo najnovejših tehnologij.</p>
					<p>Platforma Kumuluz Crowdsensing tako temelji na distribuirani in šifrirani hrambi podatkov z uporabo tehnologije veriženja blokov (»blockchain«) za shranjevanje občutljivih podatkov ter uporabo pametnih pogodb za urejanje dostopa do podatkov ter njihovo kasnejšo monetizacijo. </p>
					<p>Pametne pogodbe so uporabljene tako, da omejujejo dostop ter določajo pravice dostopa različnih deležnikov do podatkov, pri čemer imate kot lastnik podatkov popolni nadzor nad tem, kako se podatki lahko obdelujejo in uporabljajo.</p>
					<p>S tehnologijo veriženja blokov je kljub enostavnemu vmesniku (API) za uporabnike zagotovljena transparentnost v smislu zbiranja, obdelave in dostopa do podatkov. Podatki so shranjeni tako, da ima vsak lastnik podatkov popolni vpogled in nadzor nad tem, kaj in kje so podatki shranjeni ter kdo do njihostopa.</p>
					<p>Še več, uporabnikom platforme omogočamo transparentno monetizacijo podatkov. Kumuluz Crowdsensing je zasnovan tako, da omogoča monetizacijo zbranih podatkov, glede na različne namene in obseg uporabe, ki se jih definira znotraj funkcionalnosti platforme.</p>
				</div>
				<div class="divider thin"></div>
				<div id="list-item-4">
					<h3 class="darkblue">Povezljivost in integracije</h3>
					<p>S Kumuluz Crowdsensing so podatki ustrezno zbrani, integrirani, filtrirani, shranjeni, anonimizirani in drugače pripravljeni ter izpostavljeni skozi programske vmesnike (API-je) za rapidni razvoj naprednih javnih in komercialnih storitev, ki upoštevajo zbrane podatke množic, segmentov in posameznikov.</p>
					<p>Kontakte vaših strank uvozite ali pa jih direktno integrirajte z vašimi sistemi in podatkovnimi bazami. Na voljo so API-ji za varno integracijo z zalednimi sistemi. Enostavno vključite podatke iz KumuluzCrowdsensing platforme v vašo spletno rešitev ali aplikacijo s pomočjo API-jev.</p>
					<p>Tako lahko preprosto upravljate s podatki o vaših strakah v realnem času. Kumuluz Crowdsensing omogoča preprosto integracijo s sistemi CRM in drugimi zalednimi sistemi, iz katerih črpa podatke o vaših strankah, ter uporabo smiselno obdelanih podatkov v različnih aplikativnih rešitvah preko API-jev. </p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
